<!-- templates/chat.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gemini Chat</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div>
      <div id="chat-box" class="bg-light p-3 mb-3 rounded">
        <div style="display: flex; align-items: center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-dfa50.appspot.com/o/batman.jpeg?alt=media&token=f9775e30-7895-40c1-ac43-c8f2c48ef2ad"
            alt="Batman Logo"
            class="rounded-circle"
            style="max-width: 50px; max-height: 50px; margin-right: 10px"
          />
          <blockquote style="border-left: 4px solid #43a047; margin: 0">
            Batman here. Upload an image, and I'll share a Bat-fact. Prepare for
            a subtle, dark remark about the image.
          </blockquote>
        </div>
      </div>

      <progress id="progress-bar" style="display: none"></progress>

      <form id="chat-form">
        <div class="input-group mb-3">
          <input id="image-input" type="file" class="form-control" />
        </div>
        <div class="input-group">
          <button type="submit" id="send-button" class="btn btn-primary">
            Upload
          </button>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      function appendImageToChat(file) {
        var reader = new FileReader();

        reader.onloadend = function () {
          var img = $("<img>")
            .attr("src", reader.result)
            .css({ "max-width": "100%", height: "auto" });
          $("#chat-box").append(
            $("<blockquote>")
              .css({ "border-left": "4px solid dodgerblue" })
              .append(img)
          );
        };

        if (file) {
          reader.readAsDataURL(file);
        }
      }

      $(function () {
        $("#chat-form").submit(function (e) {
          e.preventDefault();

          var formData = new FormData(this);
          var fileInput = $("#image-input")[0].files[0];

          formData.append("user_image", fileInput);

          if (fileInput) {
            $("#chat-box").append(
              '<blockquote style="border-left: 4px solid #1288ff;">User: </blockquote>'
            );
            appendImageToChat(fileInput);
            $("#image-input").val("");
            $("#progress-bar").show();

            $.ajax({
              url: "/chat",
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data) {
                $("#chat-box").append(
                  '<blockquote style="border-left: 4px solid #43a047;">Batman: ' +
                    data.response +
                    "</blockquote>"
                );
                $("#progress-bar").hide();
              },
              error: function () {
                $("#chat-box").append(
                  '<blockquote style="border-left: 4px solid red;">Batman: Sorry, I am not able to respond at the moment.</blockquote>'
                );
                $("#progress-bar").hide();
              },
            });
          }
        });
      });
    </script>
  </body>
</html>
